/*celulares pequenos (ex: iPhone SE) */
@media (max-width: 576px) {

    html {
        position: relative;
        min-height: 100%;
    }
    
    main{
        text-align: center;
    }

    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        align-items: center;
        background-image: url('../img/fundo.png');
    }
   
    .escudo{
        width: 150px;
    }

    .logo{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .ftprincipal{
        width: 100%;
        margin-top: 20px;
    }

    .menubtn{
        display: flex;
        justify-content: center;
    }

    button{
        width: 90px;
        border-radius: 30px;
        background-color: aliceblue;
        color: rgb(239, 0, 0);
        font-size: 10px;
        padding: 5px;
    }

    footer {
        position: fixed;
        margin: 0;
        bottom: 2px;
        height: 30px;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: aliceblue;
    }
   
}

/*celulares grandes (ex: iPhone 8 Plus) */
@media (min-width: 577px) and (max-width: 767px) {
    html {
        position: relative;
        min-height: 100%;
    }
    
    main{
        text-align: center;
    }

    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        align-items: center;
        background-image: url('../img/fundo.png');
    }
   
    .escudo{
        width: 150px;
    }

    .logo{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .ftprincipal{
        width: 100%;
        margin-top: 20px;
    }

    .menubtn{
        display: flex;
        justify-content: center;
    }

    button{
        width: 90px;
        border-radius: 30px;
        background-color: aliceblue;
        color: rgb(239, 0, 0);
        font-size: 10px;
        padding: 5px;
    }

    footer {
        position: fixed;
        margin: 0;
        bottom: 2px;
        height: 30px;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: aliceblue;
    }
   
}

/* tablets (ex: iPad) */
@media (min-width: 768px) and (max-width: 991px) {
    html {
        position: relative;
        min-height: 100%;
    }

    main{
        text-align: center;
    }
    
    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        align-items: center;
        background-image: url('../img/fundo.png');
    }
   
    .escudo{
        width: 150px;
    }

    .logo{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .ftprincipal{
        width: 100%;
        margin-top: 20px;
    }

    .menubtn{
        display: flex;
        justify-content: center;
    }

    button{
        width: 90px;
        border-radius: 30px;
        background-color: aliceblue;
        color: rgb(239, 0, 0);
        font-size: 10px;
        padding: 5px;
    }

    footer {
        position: fixed;
        margin: 0;
        bottom: 2px;
        height: 30px;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: aliceblue;
    }
   
}

/*celulares grandes (ex: iPhone 8 Plus) */
@media (min-width: 577px) and (max-width: 767px) {
    html {
        position: relative;
        min-height: 90%;
    }
    
    main{
        text-align: center;
    }

    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        align-items: center;
        background-image: url('../img/fundo.jpeg');
    }
   
    .escudo{
        width: 150px;
    }

    .logo{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .ftprincipal{
        width: 100%;
        margin-top: 50px;
    }

    .menubtn{
        display: flex;
        justify-content: center;
    }

    button{
        width: 90px;
        border-radius: 30px;
        background-color: aliceblue;
        color: rgb(239, 0, 0);
        font-size: 10px;
        padding: 5px;
    }

    footer {
        position: absolute;
        bottom: 10;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: aliceblue;
    }
   
}

/*notebooks (ex: laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
    html {
        position: relative;
        min-height: 100%;
    }
    
    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        align-items: center;
        background-image: url('../img/fundo.png');
    }
   
    .escudo{
        width: 150px;
    }

    .logo{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .ftprincipal{
        width: 70%;
        margin-top: 20px;
    }

    .menubtn{
        display: flex;
        justify-content: center;
    }

    main{
        text-align: center;
    }

    button{
        width: 90px;
        border-radius: 30px;
        background-color: aliceblue;
        color: rgb(239, 0, 0);
        font-size: 10px;
        padding: 5px;
    }

    footer {
        position: fixed;
        margin: 0;
        bottom: 2px;
        height: 30px;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: aliceblue;
    }
   
}

/* televisões (ex: Full HD) */
@media (min-width: 1200px) {
    html {
        position: relative;
        min-height: 100%;
    }

    main{
        text-align: center;
    }
    
    body{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        align-items: center;
        background-image: url('../img/fundo.png');
    }
   
    .escudo{
        width: 150px;
    }

    .logo{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .ftprincipal{
        width: 100%;
        margin-top: 20px;
    }

    .menubtn{
        display: flex;
        justify-content: center;
    }

    button{
        width: 90px;
        border-radius: 30px;
        background-color: aliceblue;
        color: rgb(239, 0, 0);
        font-size: 10px;
        padding: 5px;
    }

    footer {
        position: fixed;
        margin: 0;
        bottom: 2px;
        height: 30px;
        width: 100%;
        text-align: center;
        background-color: #000000;
        color: aliceblue;
    }
   
}
